#automarketing-wrapper {
	background: url(/files/images/bk-automarketing.jpeg);
  background-size: 100%;
  height: 300px;
  position: relative;
  padding: 70px 0;
  .overlay {
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(252,132,43,0.97);
  }
  .main-part {
  	z-index: 1;
  	.section-text {
  		color: #ffffff;
  	}
  	.subtitle {
  		color: #ffffff;
  	}
  	button {
  		border-radius: 25px;
  		background: #ffffff;
  		color: #E37627;
  		font-family: Avenir;
      line-height: 50px;
  		&:focus {
  			box-shadow: none;
  		}
  	}
  }
}