
.section-text {
  font-size: 40px;
  font-family: GTWalsheim;
  line-height: 47px;
  color: rgba(0,0,0,.9);
}
.subtitle{
  font-family: Avenir;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
.sub-content {
  line-height: 26px;
  font-family: Avenir;
  font-size: 16px;
}

@import "./containers/codView";
@import "./containers/features";
@import "./containers/news";
@import "./containers/benefits";
@import "./containers/feedback";
@import "./containers/automarketing";
@import "./containers/contact";
@import "./containers/footer";

@import "./components/AvatarCard";
